.mdl-cell.mdl-cell--8-col.mdl-cell--4-col-phone.mdl-color--white.mdl-shadow--6dp.mdl-color-text--grey-800 {
    padding: 28px 10px 28px 10px;
    border-radius: 6px;
}

.mdl-cell.mdl-cell--8-col.mdl-cell--4-col-phone.mdl-color--white.mdl-shadow--6dp.mdl-color-text--grey-800 > h1{
     text-align: center;
 }

.mdl-cell.mdl-cell--8-col.mdl-cell--4-col-phone.mdl-color--white.mdl-shadow--6dp.mdl-color-text--grey-800 > h2{
    text-align: center;
    color: grey;
}