.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
    }
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: 0 0px 0px 0;
}

.project-resize-image{
    max-width: 100%;
    height: auto;
}