---
---

@import "materialize";

html {
    font-family: sans-serif;
}

.image-wrapper {
    text-align: center;
}

p {
  text-align: justify;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.project-resize-image{
    max-width: 100%;
    height: auto;
}

.table-of-contents {
    padding-top: 64px;
    list-style-type: none;
}

.table-of-contents a {
    text-decoration: none;
}

.emoji {
    display: inline-block;
}

.my-card__title {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: .0125em;
    text-decoration: bold;
    text-transform: inherit;
}

.my-card-content {
    padding: 16px;
}

nav {
    background-color: transparent;
    position: absolute;
    box-shadow: 0 0px 0px 0;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
li {
    text-align: justify;
}

body {
    margin: 0px;
}

.text-center {
    text-align: center;
}

.separator {
    margin-top: 15px;
    padding-bottom: 5px;
    border: 0px;
    border-bottom: 1px solid var(--warm-gray-30,#e6e9ec);
}

.space {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid transparent;
}

a {
    text-decoration: none;
}

.pager {
    text-align-last: justify;
}

.pager .previous {
    list-style: none;
}

.pager .next {
    list-style: none;
}

.intro-header {
    margin-bottom: 25px;
}

@media only screen and (max-width: 992px)
{
    .container {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --dark: #000000;
        --primary: #262626;
        --light: #4e4e4e;
        --primary-text: #ffffff;


        --secondary-dark: #a70f24;
        --secondary: #df4c4c;
        --secondary-light: #ff7e78;
        --secondary-text: #000000
    }
    body {
        
        background-color: var(--dark);
        color: var(--primary-text);
        
        .card {
            background-color: var(--primary);
        }

        .collection {
            .collection-item {
                background-color: var(--primary);
            }
        }

        .post-preview {
            a {
                color: var(--primary-text)
            }
        }

        .highlight {
            background-color: var(--dark);
        }

        .card .card-action a:not(.btn):not(.btn-small):not(.btn-large):not(.btn-large):not(.btn-floating) {
            color: var(--secondary);
            transition: color .3s ease;
        }

        .card .card-action a:not(.btn):not(.btn-small):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
            color: var(--secondary-dark);
            transition: color .3s ease;    
        }

        a {
            color: var(--secondary);
            transition: color .3s ease;
        }

        a:hover, a:focus {
            color: var(--secondary-dark);
            transition: color .3s ease;
        }

        .pager li > a:hover, .pager li > a:focus {
            border: 1px solid var(--secondary-dark);
            background-color: var(--secondary-dark);
            transition: color .3s ease;
            transition: background-color .3s ease;
        }


        .pager li > a, .pager li > span {
            border: 1px solid var(--secondary-dark);
            background-color: var(--dark);
            color: var(--secondary-dark);
            transition: color .3s ease;
            transition: background-color .3s ease;
        }

        .sidenav {
            background-color: var(--primary);
        }

        .sidenav li>a {
            color: var(--primary-text);
        }

        .post-preview > a:hover, .post-preview > a:focus {
            text-decoration: none;
            color: var(--secondary-dark);
        }
    }
}