---
---

html {
    font-family: sans-serif;
}

.image-wrapper {
    text-align: center;
}

p {
  text-align: justify;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.z-depth-1, nav, .card-panel, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: 0 0px 0px 0;
}

.project-resize-image{
    max-width: 100%;
    height: auto;
}

.table-of-contents {
    padding-top: 64px;
    list-style-type: none;
}

.table-of-contents a {
    text-decoration: none;
}

.emoji {
    display: inline-block;
}

.my-card__title {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: .0125em;
    text-decoration: bold;
    text-transform: inherit;
}

.my-card-content {
    padding: 16px;
}

nav {
    background-color: transparent;
    position: absolute;
}

.my-nav-label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
li {
    text-align: justify;
}

body {
    margin: 0px;
}

.text-center {
    text-align: center;
}

.separator {
    margin-top: 15px;
    padding-bottom: 5px;
    border: 0px;
    border-bottom: 1px solid var(--warm-gray-30,#e6e9ec);
}

.space {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid transparent;
}

a {
    text-decoration: none;
}

.pager {
    text-align-last: justify;
}

.pager .previous {
    list-style: none;
}

.pager .next {
    list-style: none;
}

.intro-header {
    margin-bottom: 25px;
}

@media only screen and (max-width: 992px)
{
    .container {
        width: 100%;
    }
}