---
layout: page
title: HMIN306
categories: _ignore
header-img: "img/bg/keyboard.jpg"
---

{% for tp in site.teachings %}
{% if tp.categories contains 'future' %}
{%else%}
{% if tp.categories contains 'HMIN306' %}
<article class="post-preview">
    <a href="{{ tp.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title">{{ tp.title }}</h2>
        {% if tp.subtitle %}
        <h3 class="post-subtitle">{{ tp.subtitle }}</h3>
        {% endif %}
    </a>
</article>

<hr>

{% endif %}
{% endif %}
{% endfor %}