---
layout: page
title: "Projects"
---

<h2>My projects</h2>

<div class="masonry">

    {% for project in site.data.projects %}

    <div>
        <div class="card darken-1">
            <div class="card-content">
                <div class="card-title my-card__title">
                    {{ project.title }}
                </div>
                {{ project.description }}



                <div class="card-action">
                    {% if project.githubLink %}
                    <a class="m-button" href="{{ project.githubLink }}">
                        GitHub
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            <i class="fa fa-circle fa-stack-2x"></i>
                        </span> -->
                    </a>
                    {% endif %}
                    {% if project.docLink %}
                    <a class="m-button" href="{{ project.docLink }}">
                        Documentation
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </a>
                    {% endif %}
                    {% if project.webLink %}
                    <a class="m-button" href="{{ project.webLink }}">
                        Link
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fas fa-link fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </a>
                    {% endif %}
                    {% if project.androidLink %}
                    <a class="m-button" href="{{ project.androidLink }}">
                        PlayStore
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-android fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </a>
                    {% endif %}
                    {% if project.youtubeLink %}
                    <a class="m-button" href="{{ project.youtubeLink }}">
                        YouTube
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>
<div class="col s12 l12 m12">
    <h2 id="Contributing">Contributing</h2>
</div>
<div class="masonry">
    {% for project in site.data.projects-contributing %}
    <div>
        <div class="card darken-1">
            <div class="card-content">
                <div class="card-title my-card__title">
                    {{ project.title }}
                </div>
                {{ project.description }}



                <div class="card-action">
                    {% if project.githubLink %}
                    <a class="m-button" href="{{ project.githubLink }}">
                        GitHub
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            <i class="fa fa-circle fa-stack-2x"></i>
                        </span> -->
                    </a>
                    {% endif %}
                    {% if project.docLink %}
                    <a class="m-button" href="{{ project.docLink }}">
                        Documentation
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </a>
                    {% endif %}
                    {% if project.webLink %}
                    <a class="m-button" href="{{ project.webLink }}">
                        Link
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fas fa-link fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </a>
                    {% endif %}
                    {% if project.androidLink %}
                    <a class="m-button" href="{{ project.androidLink }}">
                        PlayStore
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-android fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </a>
                    {% endif %}
                    {% if project.youtubeLink %}
                    <a class="m-button" href="{{ project.youtubeLink }}">
                        YouTube
                        <!-- <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>