---
layout: page
title: "Projects"
---

<div class="row">
    <div class="col">

        <h2>My projects</h2>

        <div class="masonry">

            {% for project in site.data.projects %}

            <div>
                <div class="card darken-1">
                    <div class="card-content">
                        <div class="card-title my-card__title">
                            {{ project.title }}
                        </div>
                        {{ project.description }}



                        <div class="card-action">
                            {% if project.githubLink %}
                            <a class="m-button" href="{{ project.githubLink }}">
                                GitHub
                                <i class="fab fa-github"></i>
                            </a>
                            {% endif %}
                            {% if project.docLink %}
                            <a class="m-button" href="{{ project.docLink }}">
                                Documentation
                                <i class="fas fa-book-open"></i>
                            </a>
                            {% endif %}
                            {% if project.webLink %}
                            <a class="m-button" href="{{ project.webLink }}">
                                Link
                                <i class="fas fa-link"></i>
                            </a>
                            {% endif %}
                            {% if project.androidLink %}
                            <a class="m-button" href="{{ project.androidLink }}">
                                PlayStore
                                <i class="fab fa-android"></i>
                            </a>
                            {% endif %}
                            {% if project.youtubeLink %}
                            <a class="m-button" href="{{ project.youtubeLink }}">
                                YouTube
                                <i class="fab fa-youtube"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        <h2 id="Contributing">Contributing</h2>
        <div class="masonry">
            {% for project in site.data.projects-contributing %}
            <div>
                <div class="card darken-1">
                    <div class="card-content">
                        <div class="card-title my-card__title">
                            {{ project.title }}
                        </div>
                        {{ project.description }}



                        <div class="card-action">
                            {% if project.githubLink %}
                            <a class="m-button" href="{{ project.githubLink }}">
                                GitHub
                                <i class="fab fa-github"></i>
                            </a>
                            {% endif %}
                            {% if project.docLink %}
                            <a class="m-button" href="{{ project.docLink }}">
                                Documentation
                                <i class="fas fa-book-open"></i>
                            </a>
                            {% endif %}
                            {% if project.webLink %}
                            <a class="m-button" href="{{ project.webLink }}">
                                Link
                                <i class="fas fa-link"></i>
                            </a>
                            {% endif %}
                            {% if project.androidLink %}
                            <a class="m-button" href="{{ project.androidLink }}">
                                PlayStore
                                <i class="fab fa-android"></i>
                            </a>
                            {% endif %}
                            {% if project.youtubeLink %}
                            <a class="m-button" href="{{ project.youtubeLink }}">
                                YouTube
                                <i class="fab fa-youtube"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>