.commutateur{
position: absolute;
display: flex;
flex-direction: column;
align-items: left;
border: 1px solid black;
cursor: pointer;
}

.memcom{
display: table;
border: 1px solid grey;
overflow: auto;
margin: 0 5px 5px 5px;
}

.memcom:empty{
border: none;
}

.memcom:empty:before{
content: "---";
}

.association{
display: table-row;
}

.assoc_adresse,.assoc_port,.assoc_age{
display: table-cell;
}

.assoc_port,.assoc_age{
padding-left: 5px;
}

.assoc_port{
background-color: wheat;
}

.ports{
display: flex;
align-items: center;
justify-content: space-between;
width: auto;
border: 1px solid grey;
margin: 0 auto 5px auto;
}

.port{
display: flex;
flex-direction: column;
align-items: center;
background-color: lightgrey;
margin: 5px;
}

.ethport{
}

.routeur{
position: absolute;
display: flex;
flex-direction: column;
align-items: left;
border: 1px solid black;
cursor: pointer;
margin: 0 0 5px 5px;
}

.tableroutage{
display: table;
border: 1px solid grey;
margin: 0 5px 5px 5px;
}

.tableroutage:empty{
border: none;
}

.tableroutage:empty:before{
content: "---";
}

.route{
display: table-row;
}

.route_adresse,.route_masque,.route_passerelle{
display: table-cell;
background-color: peachpuff;
border: 1px solid white;
}

.route_masque,.route_passerelle{
padding-left: 5px;
}

.cachearp{
display: table;
border: 1px solid grey;
overflow: auto;
margin: 0 0 5px 5px;
}

.cachearp:empty{
border: none;
}

.cachearp:empty:before{
content: "---";
}

.resolution{
display: table-row;
}

.arp_ethernet,.arp_ip,.arp_age{
display: table-cell;
}

.arp_ip,.arp_age{
padding-left: 5px;
}

.station{
position: absolute;
display: flex;
flex-direction: column;
align-items: left;
border: 1px solid black;
cursor: pointer;
}

.paquets{
display: flex;
flex-wrap: wrap;
border: 1px solid grey;
max-width: 20em;
max-height: 5em;
overflow: auto;
margin: 0 5px 5px 5px;
}

.paquets:empty{
border: none;
}

.paquets:empty:before{
content: "---";
}

.nom{
width: 100%;
text-align: center;
background-color: dimgrey;
color: white;
margin-bottom: 5px;
}

.paquet{
display: flex;
align-items: center;
position: absolute;
min-height: 1em;
border: 2px solid grey;
}

.paquet_file{
display: flex;
align-items: center;
margin: 2px;
min-height: 1em;
border: 2px solid grey;
}

.ethadr{
display: flex;
position: static;
height: 1.4em;
min-width: 2em;
}

.ip4{
display: flex;
position: static;
border: 2px solid black;
}

.ip4adr{
display: flex;
position: static;
min-width: 2em;
}

.fantome{
}

.formulaire_paquet{
position: absolute;
border: 1px dotted black;
margin: 10px;
}

.formulaire_titre,.cadre_titre{
background-color: white;
text-align: center;
}

.cadre_titre{
position: relative;
background-color: lightgrey;
color: black;
margin: 0 0 0 5px ;
font-size: 75%;
}

.formulaire_label{
font-size: 75%;
display: block;
margin: 0 5px;
}

.formulaire_champ{
margin: 0 5px;
margin-bottom: 5px;
vertical-align: middle;
}

.formulaire_div{
display: flex;
align-items: center;
justify-content: space-between;
}

.formulaire_bouton{
font-size: 75%;
margin: 5px;
}

.separateur{
display: inline-block;
width: 5px;
}
