<div class="col s12 m6">
    <div class="card darken-1">
        <div class="card-content">
            <div class="card-title my-card__title">
                {{ include.title }}
            </div>
            {{ include.description }}
            <div class="card-action">
                {% if include.githubLink %}
                <a href="{{ include.githubLink }}">
                    <i class="fab fa-github"></i>
                    GitHub
                </a>
                {% endif %}
                {% if include.docLink %}
                <a href="{{ include.docLink }}">
                    <i class="fas fa-book-open"></i>
                    Documentation
                </a>
                {% endif %}
                {% if include.slides %}
                <a class="m-button" href="{{ include.slides }}">
                    <i class="fas fa-chalkboard"></i>
                    Slides
                </a>
                {% endif %}
                {% if include.tp %}
                <a class="m-button" href="{{ include.tp }}">
                    <i class="fas fa-terminal"></i>
                    TP 
                </a>
                {% endif %}
                {% if include.privacyLink %}
                <a class="m-button" href="{{ include.privacyLink }}">
                    <i class="fas fa-user-secret"></i>
                    TP 
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>