.accordion {
  position: relative;
  width: 100%;
  border-radius: $m-border-radius;
  background-color: $primary;
  box-shadow: $m-box-shadow;
  opacity: 1;
  transition: $m-box-shadow-transition;
  overflow: hidden;

  >input {
      display: none;
  }

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0px;

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }

  .accordion-content {
    max-height: 0;
    padding: 0 1em;
    background: $primary;
    transition: all .35s;
  }

  .accordion-input {
    display: none;
  }
}

// :checked
input:checked {
    + 
    .accordion-header {
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .accordion-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
