.timeline {
    border-left: 2px solid #e6e9ed;
    padding: 1rem 0;
    .card {
        width: unset;
    }
}

.timeline-card {
    position: relative;
    margin-left: 31px;
    border-left: 2px solid;
    margin-bottom: 2rem;
}

.timeline-card:last-child {
    margin-bottom: 1rem;
}

.timeline-card:before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -41px;
    border: 2px solid;
    z-index: 2;
}

.timeline-card:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: currentColor;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
}

.timeline-card-primary {
    border-left-color: $secondary;
}

.timeline-card-primary:before {
    border-color: $secondary;
}

.timeline-card-primary:after {
    background-color: $secondary;
}

.timeline-card-success {
    border-left-color: #37bc9b;
}

.timeline-card-success:before {
    border-color: #37bc9b;
}

.timeline-card-success:after {
    background-color: #37bc9b;
}
