.masonry {
    columns: 3;
    column-gap: 16px;
    
    &.masonry-2 {
        columns: 2;
    }

    &.masonry-1 {
        columns: 1;
    }

    @media (max-width: 992px) {
        columns: 2;
    }
    @media (max-width: 768px) {columns: 1;}

    .card {
        display: inline-block;
    }

}
  
  