// Import Core Clean Blog SCSS

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

$dark: #bbb;
$primary: #fff;
$primary-text: #000000;

$secondary-dark: #0062cc;
$secondary: #007bff;
$secondary-light: #68b1ff;
$secondary-text: #fff;

@import 'variables';
@import 'm-grid';
@import 'm-heading';
@import 'm-blockquote';
@import 'm-navbar';
@import 'm-nav';
@import 'm-sidenav';
@import 'm-badge';
@import 'masonry';
@import 'm-card';
@import 'm-slider';
@import 'm-accordion';
@import 'm-button';
@import 'm-timeline';

html {

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
  /* Hide scrollbar for Chrome */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  .img-fill {
    max-width: 100%;
    height: auto;
  }


  .intro-header {
    background: no-repeat center center;
    background-size: cover;
    .site-heading,
    .intro-header .page-heading {
      text-align: center;
      color: #fff;

      padding: 50px 0;

      @media only screen and (min-width: 768px) {
        padding: 75px 0;
      }

      .subheading {
        font-size: 24px;
        line-height: 1.1;
        display: block;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin: 10px 0 0;
      }

      .meta {
        font-family: 'Lora', 'Times New Roman', serif;
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
      }
    }
  }

  .container .row {
    display: block;
  }

  .post-heading {
    padding: 50px 0;
    color: #fff;

    @media only screen and (min-width: 768px) {
      padding: 75px 0;
    }

    .meta {
      font-family: 'Lora', 'Times New Roman', serif;
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
    }

    .subheading {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 600;
    }
  }

  .post-preview {
    .post-meta {
      font-size: 15px;
      font-style: italic;
      margin-top: 0;
    }
  }
}

.image-wrapper {
  text-align: center;
}

p {
  text-align: justify;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.project-resize-image {
  max-width: 100%;
  height: auto;
}

.table-of-contents {
  padding-top: 64px;
  list-style-type: none;
}

.table-of-contents a {
  text-decoration: none;
}

.emoji {
  display: inline-block;
}

nav {
  z-index: 99;
  background-color: transparent;
  position: absolute;
  box-shadow: 0 0px 0px 0;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
li {
  text-align: justify;
}

body {
  margin: 0px;
}

.text-center {
  text-align: center;
}

.separator {
  margin-top: 15px;
  margin-bottom: 5px;
  border: 0px;
  border-bottom: 1px solid var(--warm-gray-30, #e6e9ec);
}

.space {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid transparent;
}

a {
  text-decoration: none;
  color: $secondary;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s color,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

a:hover,
a:focus {
  color: $secondary-dark;
  text-decoration: underline;
}

.pager {
  text-align-last: justify;
}

.pager .previous {
  list-style: none;
}

.pager .next {
  list-style: none;
}

.table-responsive {
  overflow-x: unset;
  img {
    max-width: 100%;
    height: auto;

  }
}

.intro-header {
  margin-bottom: 25px;
}

.bibliography {
  padding-left: 0px;
  li {
    list-style: none;
    margin-bottom: 15px;

    .bibliography-header {
      .bibliography-title {
        font-weight: bold;
      }
      .bibliography-author {
        font-weight: normal;
      }
      .bibliography-booktitle {
        font-weight: lighter;
        font-size: small;
        font-style: italic;
      }
    }

  }
}

[data-theme="dark"] {
  
  $dark: #303030;
  $primary: #262626;
  $primary-text: #ffffff;

  $secondary-dark: #a70f24;
  $secondary: #df4c4c;
  $secondary-light: #ff7e78;
  $secondary-text: #000000;
  
  $m-box-shadow : 0 0 0 1px #595959;

  @import 'variables';
  @import 'm-grid';
  @import 'm-navbar';
  @import 'm-nav';
  @import 'm-sidenav';
  @import 'm-badge';
  @import 'masonry';
  @import 'm-card';
  @import 'm-accordion';
  @import 'm-button';
  @import 'm-blockquote';
  @import 'm-timeline';
  
  .card:hover {
    box-shadow: 0 10px 20px rgba(89,89,89,.80), 0 4px 8px rgba(89,89,89,.06);
  }

  .accordion {
   
    &:hover {
      box-shadow: 0 10px 20px rgba(89,89,89,.80), 0 4px 8px rgba(89,89,89,.06);
    }
  }

  body {
    background-color: $dark;
    color: $primary-text;

    .table {
      color: $primary-text;
    }

    .collection {
      .collection-item {
        background-color: $primary;
      }
    }

    .post-preview {
      a {
        color: $primary-text;
      }

      .post-meta {
        color: #808080;
      }
    }

    .highlight {
      background-color: $dark;
      color: $primary-text;
    }

    a {
      color: $secondary;
      transition: color 0.3s ease;
    }

    a:hover,
    a:focus {
      color: $secondary-dark;
      transition: color 0.3s ease;
    }

    .sidenav {
      background-color: $primary;
    }

    .sidenav li > a {
      color: $primary-text;
    }

    .post-preview > a:hover,
    .post-preview > a:focus {
      text-decoration: none;
      color: $secondary-dark;
    }

    // badge

    span.badge {
      background-color: $secondary !important;
      color: $secondary-text;
      transition: background-color 0.3s ease;
    }

    span.badge:hover {
      background-color: $secondary-dark !important;
      transition: background-color 0.3s ease;
    }
  }

  .mermaid {
    .actor {
      fill: $secondary-dark !important;
    }

    text.actor > tspan {
      fill: $primary-text !important;
    }

    .actor-line {
      stroke: $secondary-light !important;
    }

    line {
      stroke: $primary-text !important;
    }

    .messageText {
      color: $primary-text !important;
      fill: $primary-text !important;
      stroke: $primary-text !important;
      stroke-width: 0.5;
    }

    #arrowhead path {
      color: $primary-text !important;
      fill: $primary-text !important;
      stroke: $primary-text !important;
    }
  }
}

article .article-content ul {
  padding-left: 40px;
  list-style-type: initial;

  li {
    list-style-type: initial;
  }
}

main ul {
  padding-left: 40px;
  list-style-type: initial !important;

  li {
    list-style-type: initial !important;
  }
}

mermaid.flowchartConfig {
  width: 100%;
}

.profile-image-container {
  text-align: center;
  .profile-image {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  }
}
