---
---
<!-- <div>
  {% if entry.author %}
    {{ entry.author }},
  {% endif %}
  {% if entry.title %}
    <b>{{ entry.title }}</b>,
  {% endif %}
  {% if entry.booktitle %}
    <i>{{ entry.booktitle }}</i>,
  {% endif %}
  {% if entry.year %}
    {{ entry.year }},
  {% endif %}
  {% if entry.url %}
    <a href="{{ entry.pdf }}" >PDF</a>,
  {% endif %}
  {% if entry.doi %}
    <a href="https://dx.doi.org/{{ entry.doi }}" >DOI</a>
  {% endif %}

</div> -->

<div class="accordion">
  <input type="checkbox" id="{{ entry.key }}">
  <label class="accordion-header" for="{{ entry.key }}">
    <div class="bibliography-header">
      <div class="bibliography-title">
        {{ entry.title }}
      </div>
      <div class="bibliography-author">
        {{ entry.author }}
      </div>
      <div class="bibliography-booktitle">
        {{ entry.booktitle }}
      </div>
    </div>
  </label>
  <div class="accordion-content">
    {{ entry.abstract }}
  </div>
</div>
