---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                    <span class="meta">Last update {{ page.last_modified_at }} </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<div>
  Bulletin quadrimestriel édité à 1400 exemplaires par le « Cercle de Recherche Historique Lezennois »
<br />
  <b>N° ISSN :</b> 1277 – 1449 Imprimé par nos soins.
<br />
  <b>Conception :</b> Marc Véret <b>Rédaction :</b> Les membres de l’association
<br />
  <b>Contacts téléphoniques :</b> 03 20 05 55 55 / 03 20 05 98 29
  <b>Courriel :</b> crhl@orange.fr
<br />
  <b>Boîte postale :</b> Cercle de Recherche Historique, Mairie de Lezenne, place de la République
<br />
  Les articles publiés dans « Coup d’Oeil » ne peuvent être
  reproduits que sur l’autorisation de la rédaction
</div>

<hr>
