---
layout: page
title: Stories
categories: _ignore
header-img: "img/bg/book.jpg"
---

<div class="row">
    <div class="col s12 m12">
        {% for story in site.stories %}
        {% if story.categories contains 'draft' %}
        {%else%}
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <a href="{{ story.url | prepend: site.baseurl | replace: '//', '/' }}">{{ story.title }}</a>
                </div>
                <article class="post-preview">
                    <a href="{{ story.url | prepend: site.baseurl | replace: '//', '/' }}">
                        {% if story.subtitle %}
                        <h3 class="post-subtitle">{{ story.subtitle }}</h3>
                        {% endif %}
                        <div class="post-short">{{ story.content |truncatehtml | truncatewords: 60 }}</div>
                    </a>
                </article>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>